body {
	margin: 0;
	margin-top: 150px;
	text-align: center;
}
code {
	display: block;
	margin-top: 20px;
}

.icon {
	display: inline-block;
	height: 64px;
	text-align: left;
	position: relative;
	width: 64px;
}
.cross,
.cross:before {
	background: #32d6a8;
	content: "";
	height: 100%;
	position: absolute;
	width: 100%;
}
.cross {
	top: 37.5%;
	height: 25%;
	-webkit-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	        transform: rotate(45deg);
}
.cross:before {
	-webkit-transform: rotate(90deg);
	    -ms-transform: rotate(90deg);
	        transform: rotate(90deg);
}
